<!-- {% assign curDate = site.time | date: '%s' %} -->
<!-- {% assign addTime = 7 | times: 24 | times: 60 | times: 60 %} -->
<!-- {% assign newDate = site.time | date: "%s" | plus: addTime | date: "%s" }}%} -->
{% for post in site.categories.due %}
  <!-- {% assign postStartDate = post.date | date: '%s' %} -->
  <!-- {% if postStartDate <= newDate %} -->
    {% if post.day == "monday" %}
    <article class="single">
      <span class="due">Due Wednesday, {% assign seconds = 8 | times: 24 | times: 60 | times: 60 %}{{ post.date | date: "%s" | plus: seconds | date: "%B %d" }} &mdash; {{post.title}} </span>
      {{ post.content }}
      <hr>
    </article>
    {% endif %}
    {% if post.day == "wednesday" %}
    <article class="single">
      <span class="due">Due Monday, {% assign seconds = 12 | times: 24 | times: 60 | times: 60 %}{{ post.date | date: "%s" | plus: seconds | date: "%B %d" }} &mdash; {{post.title}} </span>
      {{ post.content }}
      <hr>
    </article>
    {% endif %}
  <!-- {% endif %} -->
{% endfor %}
